* {
    box-sizing: border-box;
}

img {
    width: 200px;
    height: auto;
    padding-top: 15px;
    padding-bottom: 0px;
    padding-right: 20px;
}

h3 {
    width: 50%;
    margin: 20px auto;
}

.title {
    font-size: 32px;
    font-weight: bold; 
    color: rgb(43, 7, 63);   
}

div.author {
    color: rgb(43, 7, 63);
    font-size: 20px;
    font-style: italic;    
}

div.date, div.created-by, div.description {
    font-size: 18px;
    margin-top: 5px;

}

.detail-box {
    border: 1px solid rgb(56, 53, 53); 
    height: 600px;
    width: 600px;
    margin: 0 auto;
}

.img-container img {
    margin: 10px auto;
    display: block;
}

.upload-container button{
    margin: 10px auto;
    display: block;
}

span {
    font-weight: bold;   
}

/*--------------------------------------*/
/*Comments*/
/*-----------------------------------------*/
.user {
    font-size: 20px;
    font-weight: bold ;
}

.comment-content {
    font-size: 18px;
}