
.clickable {
    cursor: pointer;
}

.clickable:hover {
    background-color: #666069;
    color: white;
}
.navbar-div {
    background-color: #666069;    
}

.navbar-div div nav{
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 0;
    margin-top: 0;
}

.search {
    display: inline-block;
}

.search-form {
    width: 70%;
}
.search-btn {
    height: 34px;
}

.hidden {
    display: none;
}


