
.clickable {
    cursor: pointer;
}

.clickable:hover {
    background-color: #666069;
    color: white;
}
.navbar-div {
    background-color: #666069;    
}

.navbar-div div nav{
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 0;
    margin-top: 0;
}

.search {
    display: inline-block;
}

.search-form {
    width: 70%;
}
.search-btn {
    height: 34px;
}

.hidden {
    display: none;
}

/*Header*/
.dropdown-menu {
    padding: 0;
}
.dropdown-menu li {
    background-color: #666069;
    color: white;
    margin: 0;
}

.dropdown-menu li a:hover {
    color: white;
}

/*Select form*/
.maxbooks-select {
    margin-top: 10px;
    margin-bottom: 10px;
}
#max-books {
    display: inline-block;
    width: 80px;
    margin-left: 5px;
    margin-right: 5px;
}

/*action button*/
.detail-btn {
    margin-right: 5px;
}

